useDynLib(memisc)
importFrom(stats,aggregate,reorder)
import(grid,lattice)
importFrom(utils,toLatex)
export(
      cases,
      colrename,
      dimrename,
      mtable,
      write.mtable,
      getSummary,
      getSummary.glm,
      getSummary.lm,
      applyTemplate,
      getSummaryTemplate,
      setSummaryTemplate,
      getCoefTemplate,
      setCoefTemplate,
      percent,
      recode,
      relabel,
      rename,
      rowrename,
      Simulate,
      trimws,
      aggregateDB,
      genTable,
      By,
      Sapply,
      Lapply,
      to.data.frame,
      prediction.frame,
      Termplot,
      Transform
      )
S3method(aggregate,formula)
S3method(getSummary,lm)
S3method(getSummary,glm)
S3method(print,mtable)
S3method(format,mtable)
S3method(toLatex,mtable)
S3method(prediction.frame,default)
S3method(Termplot,default)
S3method(Transform,data.frame)
S3method(recode,default)
S3method(recode,factor)
S3method(relabel,default)
S3method(relabel,factor)
S3method(reorder,matrix)
S3method(reorder,array)